In [ ]:
!pip install scikit-learn pandas matplotlib kagglehub

Task 1

In [3]:
import pandas as pd  # for working with data tables
from sklearn.model_selection import train_test_split  # TODO: splits the data up
from sklearn.tree import DecisionTreeClassifier, plot_tree  # for building decision trees
from sklearn.metrics import accuracy_score, classification_report  # TODO: Fill in the two imports (accuracy_score, classification_report)
import matplotlib.pyplot as plt  # TODO: Allows the tree to be drawn

print("✓ Libraries imported successfully!")

✓ Libraries imported successfully!

Task 2a (Taking the Kaggle data set)

Task 2b

In [5]:
import kagglehub
path = kagglehub.dataset_download("sakshisatre/titanic-dataset")
print("Dataset downloaded to:", path)

Dataset downloaded to: C:\Users\mc_dkaralius26\.cache\kagglehub\datasets\sakshisatre\titanic-dataset\versions\2

In [6]:
df = pd.read_csv("Titanic Dataset.csv")

print("✓ Dataset loaded successfully!")
print(f"Number of rows: {len(df)}")
print(f"Number of columns: {len(df.columns)}")

✓ Dataset loaded successfully!
Number of rows: 1309
Number of columns: 14

Task 3 (Exploring the data, split into a, b, and c)

In [7]:
print("First five rows of the dataset.")
print(df.head())

First five rows of the dataset.
   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [8]:
print("Last five rows of the dataset.")
print(df.tail())

Last five rows of the dataset.
      pclass  survived                       name     sex   age  sibsp  parch  \
1304       3         0       Zabour, Miss. Hileni  female  14.5      1      0
1305       3         0      Zabour, Miss. Thamine  female   NaN      1      0
1306       3         0  Zakarian, Mr. Mapriededer    male  26.5      0      0
1307       3         0        Zakarian, Mr. Ortin    male  27.0      0      0
1308       3         0         Zimmerman, Mr. Leo    male  29.0      0      0

      ticket     fare cabin embarked boat   body home.dest
1304    2665  14.4542   NaN        C  NaN  328.0       NaN
1305    2665  14.4542   NaN        C  NaN    NaN       NaN
1306    2656   7.2250   NaN        C  NaN  304.0       NaN
1307    2670   7.2250   NaN        C  NaN    NaN       NaN
1308  315082   7.8750   NaN        S  NaN    NaN       NaN

In [9]:
print("Some information about the dataset.")
print(df.info())

Some information about the dataset.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB
None

Task 4 (a, b, c)

In [18]:
total_passengers = len(df)
print(f"Total passengers in dataset: {total_passengers}")

Total passengers in dataset: 1309

In [19]:
print("Column names:")
print(df.columns)

Column names:
Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [20]:
print("Basic statistics.")
print(df.describe())

Basic statistics.
            pclass     survived          age        sibsp        parch  \
count  1309.000000  1309.000000  1046.000000  1309.000000  1309.000000
mean      2.294882     0.381971    29.881138     0.498854     0.385027
std       0.837836     0.486055    14.413493     1.041658     0.865560
min       1.000000     0.000000     0.170000     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    39.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     9.000000

              fare        body
count  1308.000000  121.000000
mean     33.295479  160.809917
std      51.758668   97.696922
min       0.000000    1.000000
25%       7.895800   72.000000
50%      14.454200  155.000000
75%      31.275000  256.000000
max     512.329200  328.000000

In [22]:
survivors = df['survived'].sum()
print(f"Number of survivors: {survivors}")

survival_rate = (survivors / total_passengers) * 100
print(f"Survival rate: {survival_rate:.2f}%")

Number of survivors: 500
Survival rate: 38.20%

Task 5

How many passengers are in the dataset?

1309

-------------------------------------------

What is the average age of the passengers?

30 (Rounded up from 29.8)

-------------------------------------------

What is the minimum fare paid? Max?

Minimum: 0

Max: 512 (Rounded from 512.3)

------------------------------------------

How many people survived?

500


------------------------------------------

What percentage of passengers survived?

38.20%

Task 6

In [23]:
print("Missing values in the data:")
print(df.isnull().sum())

Missing values in the data:
pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

Which column has the most missing values?

Body.

Reflection questions

Answer these questions in your own words:

1. Why is it important to inspect your data before building a model?

Answer: You have to make sure there are certain interruptions, like missing data from columns. If there is too much missing data, then the data of the formatted model by the end will be inaccurate.

2. What does it mean if a column has missing values?

Answer: It was most likely never recorded in the dataset.

3. Why might the Titanic dataset be useful for learning machine learning?

Answer: It's a great way to help gather some statistics in regards to who survived, who is a male/female, and many other variables.

4. What feature (column) do you think would be MOST important for predicting survival? Why?

Answer: I feel like sex, mostly because of the fact that during the tragedy, everyone's priorities were set on saving most of the females. Also, age plays an important factor because children were to be included as well.