# AI Lesson 04a Tasks: SQL for Machine Learning

**Course:** Applications of Artificial Intelligence  
**Lesson:** SQL Introduction with NBA Dataset  

---

## Learning Objectives

By completing this task, you will:
- Write SQL queries to extract data for machine learning
- Use SELECT, WHERE, ORDER BY, and LIMIT effectively
- Filter data to create better training datasets
- Load SQL results into pandas DataFrames
- Export data to Excel for analysis
- Understand how SQL fits into the ML pipeline

---

## The ML Context

**Why are we doing this?**

In real-world machine learning:
- Data lives in **databases**, not CSV files
- You need to **filter** data before loading (millions of rows!)
- SQL lets you **select specific features** for your model
- SQL helps you **create training datasets** efficiently
- You export data to Excel for visualization and analysis

**Today's scenario:**
You're building an ML model to predict NBA team performance. First, you need to extract the right data from the database using SQL, then export it to Excel for analysis.

---

## Setup: Connect to Database

In [2]:
# Import necessary libraries
import pandas as pd
import sqlite3

# Connect to the NBA database
conn = sqlite3.connect('nba_5seasons.db')

print("✅ Connected to NBA database")
print("Ready to write SQL queries!")

✅ Connected to NBA database
Ready to write SQL queries!

---
## Part 1: Understanding the Database Structure

Before we can write good queries, we need to know what tables and columns we have.

### Task 1.1: List All Tables

Write a query to see what tables exist in our database.

**Hint:** Use the `sqlite_master` table and filter for type='table'

In [3]:
# TODO: Write a query to list all tables
query = """
SELECT name
FROM sqlite_master
WHERE type = 'table'
ORDER BY name
"""

tables = pd.read_sql(query, conn)
print("Tables in the database:")
display(tables)

Tables in the database:

                  name
0  player_season_stats
1              players
2      team_game_stats
3                teams

**Q1: How many tables are in the database?**

A: 4

### Task 1.2: Explore the teams Table

Look at the first 10 rows of the `teams` table.

**Hint:** Use SELECT * and LIMIT

In [4]:
# TODO: Write a query to see the first 10 teams
query = """
SELECT *
FROM teams
LIMIT 10
"""

teams_sample = pd.read_sql(query, conn)
print("First 10 teams:")
display(teams_sample)

First 10 teams:

,team_id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,San Francisco,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970

**Q2: What columns are in the teams table?**

A: team_id, full_name, abbreviation, nickname, city, state, year_founded

**Q3: How would you find your favorite team in this table?**

A: Preferably, you can use team_id because its a value that wouldn't change. Sure, you can also use full_name, but the team could've changed their name over the years with that possibility.

---
## Part 2: Basic SELECT Queries

Let's practice selecting specific columns - this is how you choose **features** for ML!

### Task 2.1: Select Specific Columns

Get just the team names and cities (the features we care about).

**Hint:** SELECT column1, column2 FROM table

In [5]:
# TODO: Select only full_name and city columns
query = """
SELECT full_name, city
FROM teams
"""

team_names = pd.read_sql(query, conn)
print("Team names and cities:")
display(team_names)

Team names and cities:

                 full_name           city
0            Atlanta Hawks        Atlanta
1           Boston Celtics         Boston
2      Cleveland Cavaliers      Cleveland
3     New Orleans Pelicans    New Orleans
4            Chicago Bulls        Chicago
5         Dallas Mavericks         Dallas
6           Denver Nuggets         Denver
7    Golden State Warriors  San Francisco
8          Houston Rockets        Houston
9     Los Angeles Clippers    Los Angeles
10      Los Angeles Lakers    Los Angeles
11              Miami Heat          Miami
12         Milwaukee Bucks      Milwaukee
13  Minnesota Timberwolves      Minnesota
14           Brooklyn Nets       Brooklyn
15         New York Knicks       New York
16           Orlando Magic        Orlando
17          Indiana Pacers        Indiana
18      Philadelphia 76ers   Philadelphia
19            Phoenix Suns        Phoenix
20  Portland Trail Blazers       Portland
21        Sacramento Kings     Sacramento
22       San Antonio Spurs    San Antonio
23   Oklahoma City Thunder  Oklahoma City
24         Toronto Raptors        Toronto
25               Utah Jazz           Utah
26       Memphis Grizzlies        Memphis
27      Washington Wizards     Washington
28         Detroit Pistons        Detroit
29       Charlotte Hornets      Charlotte

**Q4: Why might you want to select only specific columns instead of using SELECT * ?**

A: Using SELECT * may just give you unneccessary columns to look at, if you're looking for a specific set of data from the table.

### Task 2.2: Teams by State

Let's see which states have NBA teams. Get the team name, city, and state, ordered by state.

**Hint:** ORDER BY can take multiple columns

In [6]:
# TODO: Show team names, cities, and states, ordered by state then name
query = """
SELECT full_name, city, state
FROM teams
ORDER BY state, full_name
"""

teams_by_state = pd.read_sql(query, conn)
print("All teams by state:")
display(teams_by_state)

All teams by state:

                 full_name           city                 state
0             Phoenix Suns        Phoenix               Arizona
1    Golden State Warriors  San Francisco            California
2     Los Angeles Clippers    Los Angeles            California
3       Los Angeles Lakers    Los Angeles            California
4         Sacramento Kings     Sacramento            California
5           Denver Nuggets         Denver              Colorado
6       Washington Wizards     Washington  District of Columbia
7               Miami Heat          Miami               Florida
8            Orlando Magic        Orlando               Florida
9            Atlanta Hawks        Atlanta               Georgia
10           Chicago Bulls        Chicago              Illinois
11          Indiana Pacers        Indiana               Indiana
12    New Orleans Pelicans    New Orleans             Louisiana
13          Boston Celtics         Boston         Massachusetts
14         Detroit Pistons        Detroit              Michigan
15  Minnesota Timberwolves      Minnesota             Minnesota
16           Brooklyn Nets       Brooklyn              New York
17         New York Knicks       New York              New York
18       Charlotte Hornets      Charlotte        North Carolina
19     Cleveland Cavaliers      Cleveland                  Ohio
20   Oklahoma City Thunder  Oklahoma City              Oklahoma
21         Toronto Raptors        Toronto               Ontario
22  Portland Trail Blazers       Portland                Oregon
23      Philadelphia 76ers   Philadelphia          Pennsylvania
24       Memphis Grizzlies        Memphis             Tennessee
25        Dallas Mavericks         Dallas                 Texas
26         Houston Rockets        Houston                 Texas
27       San Antonio Spurs    San Antonio                 Texas
28               Utah Jazz           Utah                  Utah
29         Milwaukee Bucks      Milwaukee             Wisconsin

**Q5: Which state has the most NBA teams?**

A: California

---
## Part 3: WHERE Clause - Filtering for ML

In ML, you often want **specific subsets** of data. WHERE is how you filter!

### Task 3.1: Filter by Season

Get all games from the 2021-22 season. (If you're training a model on recent data, you'd start here!)

**Hint:** WHERE column = 'value' (use single quotes for text!)

In [9]:
# TODO: Filter for only 2021-22 season games
query = """
SELECT *
FROM team_game_stats
WHERE season = '2021-22'
LIMIT 10
"""

recent_games = pd.read_sql(query, conn)
print("Sample of 2021-22 season games:")
display(recent_games)

Sample of 2021-22 season games:

,season,game_id,team_id,game_date,matchup,wl,pts,fgm,fga,fg3m,...,ftm,fta,oreb,dreb,reb,ast,stl,blk,tov,plus_minus
0,2021-22,0022100001,1610612749,2021-10-19,MIL vs. BKN,W,127,48,105,17,...,14,18,13,41,54,25,8,9,8,23
1,2021-22,0022100001,1610612751,2021-10-19,BKN @ MIL,L,104,37,84,17,...,13,23,5,39,44,19,3,9,13,-23
2,2021-22,0022100002,1610612744,2021-10-19,GSW @ LAL,W,121,41,93,14,...,25,30,9,41,50,30,9,2,17,7
3,2021-22,0022100002,1610612747,2021-10-19,LAL vs. GSW,L,114,45,95,15,...,9,19,5,40,45,21,7,4,18,-7
4,2021-22,0022100003,1610612754,2021-10-20,IND @ CHA,L,122,42,90,17,...,21,24,8,43,51,29,2,10,17,-1
5,2021-22,0022100003,1610612766,2021-10-20,CHA vs. IND,W,123,46,107,13,...,18,27,12,34,46,29,9,5,8,1
6,2021-22,0022100004,1610612741,2021-10-20,CHI @ DET,W,94,37,86,7,...,13,15,9,39,48,18,8,5,17,6
7,2021-22,0022100004,1610612765,2021-10-20,DET vs. CHI,L,88,36,90,6,...,10,13,11,36,47,17,7,5,17,-6
8,2021-22,0022100005,1610612738,2021-10-20,BOS @ NYK,L,134,48,117,21,...,17,23,15,41,56,34,13,9,18,-4
9,2021-22,0022100005,1610612752,2021-10-20,NYK vs. BOS,W,138,51,105,17,...,19,27,7,48,55,27,9,10,19,4

**Q6: Why use quotes around '2021-22'?**

A: Partly in due thanks to the hyphen between 2021 and 22. It makes the set of characters be interpreted as a string rather than number value.

### Task 3.2: High-Scoring Games

Find all games where a team scored 120 or more points.

**ML Context:** This could be your positive class for a "high-scoring game predictor" model!

**Hint:** Use >= for "greater than or equal to"

In [10]:
# TODO: Find games with 120+ points, show top 20
query = """
SELECT season, game_date, team_id, matchup, pts, wl
FROM team_game_stats
WHERE pts >= 120
ORDER BY pts DESC
LIMIT 20
"""

high_scoring = pd.read_sql(query, conn)
print("Top 20 highest-scoring games:")
display(high_scoring)

Top 20 highest-scoring games:

     season   game_date     team_id      matchup  pts wl
0   2022-23  2023-02-24  1610612758    SAC @ LAC  176  W
1   2022-23  2023-02-24  1610612746  LAC vs. SAC  175  L
2   2024-25  2025-03-27  1610612754    IND @ WAS  162  W
3   2021-22  2022-01-26  1610612766    CHA @ IND  158  W
4   2021-22  2022-02-25  1610612759    SAS @ WAS  157  W
5   2022-23  2023-04-09  1610612744    GSW @ POR  157  W
6   2023-24  2023-11-21  1610612754    IND @ ATL  157  W
7   2023-24  2024-04-14  1610612754  IND vs. ATL  157  W
8   2023-24  2023-11-01  1610612738  BOS vs. IND  155  W
9   2024-25  2024-12-26  1610612763  MEM vs. TOR  155  W
10  2023-24  2024-01-03  1610612762  UTA vs. DET  154  W
11  2021-22  2022-02-25  1610612764  WAS vs. SAS  153  L
12  2021-22  2022-04-01  1610612746    LAC @ MIL  153  W
13  2022-23  2022-11-15  1610612758  SAC vs. BKN  153  W
14  2022-23  2023-02-04  1610612760  OKC vs. HOU  153  W
15  2023-24  2024-01-23  1610612740  NOP vs. UTA  153  W
16  2024-25  2025-04-11  1610612748    MIA @ NOP  153  W
17  2021-22  2021-12-02  1610612763  MEM vs. OKC  152  W
18  2023-24  2023-11-06  1610612754  IND vs. SAS  152  W
19  2023-24  2023-11-21  1610612737  ATL vs. IND  152  L

**Q7: Looking at the results, what was the highest score?**

A: 176

**Q8: Did high-scoring games tend to be wins or losses?**

A: Wins

### 📊 Task 3.3: Export High-Scoring Games to Excel

Let's export ALL high-scoring games (120+ points) to Excel for analysis!

**You'll use this file later to practice Excel formulas and charts.**

In [ ]:
# TODO: Get ALL high-scoring games (remove LIMIT) and export to Excel
query = """
SELECT season, game_date, team_id, matchup, pts, fgm, fga, fg3m, ftm, reb, ast, wl
FROM team_game_stats
WHERE pts >= 120
ORDER BY pts DESC
"""

high_scoring_all = pd.read_sql(query, conn)

# TODO: Export to Excel (fill in the blanks)
high_scoring_all.to_excel(________, index=________, sheet_name=________)

print(f"✅ Exported {len(high_scoring_all)} high-scoring games to 'high_scoring_games.xlsx'")
print("\nPreview:")
display(high_scoring_all.head())

**Q9: How many high-scoring games were exported?**

A:

---
## Part 4: ORDER BY and Multiple Conditions

### Task 4.1: Wins with Good Offense

Find all wins where the team scored 115+ points.

**Hint:** Combine wl = 'W' AND pts >= 115

In [ ]:
# TODO: Find wins with 115+ points from 2021-22 season
query = """
SELECT game_date, team_id, matchup, pts, wl
FROM team_game_stats
WHERE ________ = ________
  AND ________ = ________
  AND ________ >= ________
ORDER BY ________ ________
LIMIT 25
"""

dominant_wins = pd.read_sql(query, conn)
print("Dominant wins (115+ points):")
display(dominant_wins)

**Q10: Why do we need quotes around 'W' but not around 115?**

A: 

**Q11: What does the AND operator do in SQL?**

A:

### Task 4.2: Losses Despite Good Scoring

Find losses where the team still scored 110+ points. (Lost a shootout!)

**Hint:** Similar to above, but wl = 'L'

In [ ]:
# TODO: Find losses with 110+ points (high-scoring losses)
query = """
SELECT game_date, team_id, matchup, pts, wl
FROM team_game_stats
WHERE ________ = ________
  AND ________ = ________
  AND ________ >= ________
ORDER BY ________ ________
LIMIT 20
"""

shootout_losses = pd.read_sql(query, conn)
print("High-scoring losses (110+ pts but still lost):")
display(shootout_losses)

**Q12: What does this tell you about offense vs defense in basketball?**

A:

---
## Part 5: Player Season Stats

Now let's look at player data - this is where ML gets interesting!

### Task 5.1: Explore Player Stats

Look at the structure of the player_season_stats table.

In [ ]:
# TODO: Get first 10 rows from player_season_stats for 2021-22
query = """
SELECT *
FROM ________
WHERE ________ = ________
LIMIT ________
"""

player_stats = pd.read_sql(query, conn)
print("Sample player season stats:")
display(player_stats)

**Q13: What columns represent a player's scoring ability?**

A:

### Task 5.2: High Scorers

Find all players who averaged 20+ points per game in 2021-22.

**Hint:** Filter WHERE pts >= 20

In [ ]:
# TODO: Find players averaging 20+ PPG
query = """
SELECT player_id, season, team_id, gp, pts, reb, ast
FROM player_season_stats
WHERE ________ = ________
  AND ________ >= ________
ORDER BY ________ ________
"""

star_scorers = pd.read_sql(query, conn)
print(f"Found {len(star_scorers)} players averaging 20+ PPG")
display(star_scorers.head(20))

**Q14: How many players averaged 20+ PPG?**

A: 

**Q15: Why might you want to filter by games played (gp) too?**

A:

### 📊 Task 5.3: Export Top Scorers to Excel

Export top scorers (20+ PPG, 40+ games) to Excel for analysis.

In [ ]:
# TODO: Get top scorers with at least 40 games played
query = """
SELECT player_id, season, team_id, gp, min, pts, reb, ast, stl, blk, fg_pct, fg3_pct, ft_pct
FROM ________
WHERE ________ = ________
  AND ________ >= ________
  AND ________ >= ________
ORDER BY ________ ________
"""

top_scorers = pd.read_sql(query, conn)

# TODO: Export to Excel
top_scorers.to_excel(________, index=________, sheet_name=________)

print(f"✅ Exported {len(top_scorers)} top scorers to 'top_scorers.xlsx'")
display(top_scorers.head(10))

**Q16: How many top scorers were exported?**

A:

### Task 5.4: All-Around Players

Find players who contributed across multiple categories:
- 15+ points per game
- 5+ rebounds per game
- 5+ assists per game
- Played at least 40 games

**Hint:** You'll need 4 AND conditions!

In [ ]:
# TODO: Find all-around players (15+ pts, 5+ reb, 5+ ast, 40+ games)
query = """
SELECT player_id, season, team_id, gp, pts, reb, ast
FROM player_season_stats
WHERE season = '2021-22'
  AND ________ >= ________
  AND ________ >= ________
  AND ________ >= ________
  AND ________ >= ________
ORDER BY ________ ________
"""

all_around = pd.read_sql(query, conn)
print(f"All-around players: {len(all_around)} found")
display(all_around)

**Q17: Why use multiple AND conditions instead of OR?**

A:

---
## Part 6: Win/Loss Records

Let's create a win/loss dataset that we can analyze in Excel!

### Task 6.1: Get All 2021-22 Game Results

Get all games from 2021-22 with key stats.

In [ ]:
# TODO: Get all 2021-22 games with important stats
query = """
SELECT season, game_date, team_id, matchup, wl, pts, fgm, fga, fg3m, ftm, reb, ast, stl, blk, tov
FROM ________
WHERE ________ = ________
ORDER BY ________
"""

all_games = pd.read_sql(query, conn)
print(f"Total games: {len(all_games)}")
display(all_games.head(10))

**Q18: How many total game records are there?**

A:

### 📊 Task 6.2: Export Win/Loss Records to Excel

Export this data - we'll use it for Excel analysis!

In [ ]:
# TODO: Export all_games to Excel
all_games.to_excel(________, index=________, sheet_name=________)

print(f"✅ Exported {len(all_games)} game records to 'win_loss_records.xlsx'")
print("\nWin/Loss distribution:")
print(all_games['wl'].value_counts())

---
## Part 7: Creating ML-Ready Dataset

Now let's create the dataset we'll use to train a machine learning model!

### Task 7.1: Win Prediction Dataset

Create a dataset for predicting wins. Include features that might predict winning:
- Points scored
- Field goals made/attempted
- Three-pointers made
- Free throws made
- Rebounds
- Assists
- Steals
- Blocks
- Turnovers
- Win/Loss outcome

In [ ]:
# TODO: Select all the columns listed above from team_game_stats for 2021-22
query = """
SELECT 
    pts,
    ________,
    ________,
    ________,
    ________,
    ________,
    ________,
    ________,
    ________,
    ________,
    wl
FROM ________
WHERE ________ = ________
"""

ml_dataset = pd.read_sql(query, conn)
print(f"ML Dataset created: {ml_dataset.shape[0]} games, {ml_dataset.shape[1]} features")
print("\nFirst 10 rows:")
display(ml_dataset.head(10))

print("\nDataset info:")
print(ml_dataset.info())

print("\nTarget variable distribution:")
print(ml_dataset['wl'].value_counts())

**Q19: Is this dataset balanced (roughly equal wins and losses)?**

A: 

**Q20: Why is it important to include turnovers (tov) as a feature?**

A:

### Task 7.2: Save ML Dataset

Save this dataset both as CSV (for Python ML) and Excel (for analysis).

In [ ]:
# TODO: Save as CSV for machine learning
ml_dataset.to_csv(________, index=________)

# TODO: Also save as Excel for analysis
ml_dataset.to_excel(________, index=________, sheet_name=________)

print("✅ ML Dataset saved:")
print("   - nba_win_prediction.csv (for Python ML)")
print("   - nba_win_prediction.xlsx (for Excel analysis)")
print(f"   - {len(ml_dataset)} rows")
print(f"   - {len(ml_dataset.columns)} columns")

---
## Part 8: Summary of Excel Files Created

Let's verify all the Excel files we've created for later analysis.

In [ ]:
import os

excel_files = [
    'high_scoring_games.xlsx',
    'top_scorers.xlsx',
    'win_loss_records.xlsx',
    'nba_win_prediction.xlsx'
]

print("📊 Excel Files Created for MOS Practice:\n")
for i, file in enumerate(excel_files, 1):
    if os.path.exists(file):
        size = os.path.getsize(file) / 1024  # Size in KB
        print(f"{i}. ✅ {file} ({size:.1f} KB)")
    else:
        print(f"{i}. ❌ {file} (NOT FOUND - did you complete that task?)")

print("\n💡 Next Steps:")
print("- Open these files in Excel")
print("- Practice formulas (SUM, AVERAGE, IF, COUNTIF)")
print("- Create charts and visualizations")
print("- Apply conditional formatting")
print("- Build PivotTables")

---
## Part 9: Reflection Questions

**Q21: How is using SQL different from loading an entire CSV file?**

A: 

**Q22: What's the connection between SQL and machine learning?**

A: 

**Q23: When would you use WHERE vs. filtering in pandas?**

A: 

**Q24: What features would you add to improve a win prediction model?**

A: 

**Q25: Why export to Excel instead of just working in Python?**

A: 

**Q26: How would SQL help if you had 50 million game records instead of 2,000?**

A:

---
## Cleanup

In [ ]:
# Always close your database connection when done
conn.close()
print("✅ Database connection closed")

---
## Summary

**You practiced:**
- ✅ Connecting to databases
- ✅ Exploring table structures
- ✅ SELECT queries (choosing features)
- ✅ WHERE filters (selecting training examples)
- ✅ ORDER BY (finding extremes and patterns)
- ✅ LIMIT (controlling result size)
- ✅ Multiple conditions (AND)
- ✅ Loading SQL results into pandas
- ✅ Exporting data to Excel for analysis

**Excel Files Created:**
1. high_scoring_games.xlsx
2. top_scorers.xlsx
3. win_loss_records.xlsx
4. nba_win_prediction.xlsx

**Key Takeaway:** SQL is how you extract and prepare data for machine learning in the real world!

---

## Next Steps

**In the next lessons, you'll:**
- Open these Excel files
- Practice MOS certification skills (formulas, charts, formatting)
- Learn JOIN queries (combining tables)
- Learn GROUP BY (aggregating data)
- Build a win prediction model with your SQL data!

**Great work!**